<!DOCTYPE html>
<html>
<head>
    <title>Create New Course</title>
</head>
<body>
    <h1>Create New Course</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="name">Course Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>
                
                <label for="description">Course Description:</label><br>
                <textarea id="description" name="description" rows="4" required></textarea><br><br>
                
                <label for="price">Course Price (₹):</label><br>
                <input type="number" id="price" name="price" min="0" step="0.01" required><br><br>
                
                <input type="submit" value="Create Course">
            </div>
        </form>
    </div>
    <br>
    <div>
        <a href="{% url 'teacher_dashboard' %}"><button>Back </button></a>
    </div>
</body>
</html> 